.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1000px;
	padding: 150px;
	width: 90%;
}
#pairs_list {
	margin-bottom: 5%;
	width: 41%;
}
#pairs_list ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
	padding: 20px 40px;
}
#pairs_list li {
	padding-bottom: 20px;
}
#pairs_list li:last-child {
	padding-bottom: 0px;
}