<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
	<title>Pairs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<div class="container">
		<header>
			<h1>SOME HECKIN PAIRS!</h1>
		</header>
		<section id="pairs_list">
			<ul>
				<li th:each="pair : ${pairs}" th:text="${pair}"></li>
			</ul>
		</section>
		<nav>
			<a id="do_it_again_button" href="/pairs"><strong>DO IT AGAIN</strong></a>
		</nav>
	</div> <!-- container -->
</body>
</html>